.c-error{
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 16px;
    margin-bottom: 16px;
}
.c-error__list{
    padding-left: 1rem;
}
.c-error__item{
    color: #842029;
    font-size: 14px;
    list-style: disc;
}