.c-error{
    background-color: #f8d7da;
    border-color: #f5c2c7;
    padding: 16px;
    margin-bottom: 16px;
}
.c-error__list{
    background-color: #f8d7da;
    border-color: #f5c2c7;
    // padding: 16px;
}
.c-error__item{
    color: #842029;
    font-size: 14px;
    text-align: left;
    padding: 5px;
}