.c-flash-message{
    background-color: #d1e7dd;
    border-color: #badbcc;
    color: #0f5132;
    padding: 10px;
    font-size: 14px;
    // position: absolute;
    width: 100%;
    display: block;
    transform: all 0.5s;
    z-index: 50;
}