.p-about{

    width:100%;
    height: auto;
    // display: flex;
    // padding: 60px 10px;
    // max-width: 980px;
    // justify-content: center;
    // text-align: center;
}
.p-aboutContainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // max-width: 280px;
    

    @include _mq-up(){
        max-width: 748px;
    }

    @include _mq-up(lg){
        max-width: 980px;
    }
}
.p-about__header{
    // margin: 0 auto;
    // text-align: center;
}