// .p-flow{
//     width: 100%;
//     // background: 
// }
.p-flow__cardList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    // width: 95vh;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;

    @include _mq-up(){
        flex-direction: row;
        justify-content: space-around;
       }
}
.p-flow__cardItem{
    width: 100%;
    // flex-basis: 93%;
    // max-width: 280px;

    @include _mq-up(){
        flex-basis: 32.3%;
       }

    @include _mq-up(lg){
        // max-width: 335px;
        flex-basis: 32.5%;
       }
}
.p-flow__cardInner{
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    // flex-wrap:wrap;
    // position: relative;
}
.p-flow__cardTriangle{
    display: block;
    font-size: 18px;
    line-height: 70px;
    width: 70px;
    color: #fff;
    background: #e3af99;
    margin: 0 auto 20px;
    display: block;
    border-radius: 50%;
    text-align: center;
    // position: relative;
    letter-spacing: 2px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.p-flow__cardBody{
    width: 100%;
    height: auto;
}
.p-flow__cardImg{
    width: 200px;
    height: 200px;
    margin: 0 auto;

     & > img{
         width: 100%;
         height: 100%;
         object-fit: contain;
        //  object-fit: cover;
     }
}
.p-flow__cardDescription{
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    color: rgb(17, 17, 17);

    @include _mq-up(){
        align-items: flex-start;
        padding-top: 20px;
       }
}