.p-productForm{
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    padding: 20px 10px;
    box-sizing: border-box;
    letter-spacing: .12em;
}
.p-productForm__inner{
    max-width: 400px;
    margin: 0 auto;
    padding: 21.5px 10px;
    min-height: 300px;
}
.p-productForm__form{
    padding: 20px 0 0;
    text-align: left;
}
.p-productForm__text{
    color: #1f1f1f;
    display: inline-block;
    font-size: 14px;
    line-height: 1.5em;
}