.p-search{
    max-width: 500px;
    margin: 0 auto;
}
.p-search__content{
    font-size: 12px;
}
.p-searchForm{
    line-height: 2em;
}
.c-searchForm__input{
    border: 1px solid #9e9e9e;
    background: #F4F4F4;
    border-radius: 5px;
    padding: 7px 45px 7px 10px;
    font-size: 13px;
    width: 100%;
}
.p-searchForm__select{
    font-size: 13px;
}
.p-searchForm__price{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
}
.c-searchForm__inputPrice{
    border-radius: 5px;
    border: 1px solid #9e9e9e;
    background: #fff;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 13px;
}
.p-searchForm__span{
    padding: 8px;
}