.p-search{
    max-width: 500px;
    margin: 0 auto;
}
.p-search__content{
    font-size: 12px;
}
.p-searchForm{
    line-height: 2em;
}
.c-searchForm__input{
    border: 1px solid #F4F4F4;
    background: #F4F4F4;
    border-radius: 8px;
    padding: 10px 45px 10px 10px;
    font-size: 13px;
    width: 100%;
}
.p-searchForm__select{
    font-size: 13px;
}