@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700|Montserrat:100,400,700&display=swap);@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 15px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  color: #000;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  font-weight: 400;
  /* アンチエイリアスを指定する */
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  /* メトリクスカーニングを指定する */
  -webkit-font-kerning: normal;
          font-kerning: normal;
  word-wrap: break-word;
}

ul,
ol,
li {
  list-style-type: none;
}

/**
   * ネストされたリストのマージンをリセットします。
   */

li > ul,
li > ol {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

/**
   * `dt`と`dd`の左端を揃えます。
   */

dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

a {
  text-decoration: none;
  color: #fabe00;
}

a:focus {
  outline: none;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
  color: #ffd348;
}

input,
select {
  vertical-align: middle;
}

button {
  border: none;
}

/**
   * フルードイメージにします。
   */

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

/**
   * IEでSVGがフルードイメージにならない不具合があります。
   * 属性値が`.svg`で終わる要素に適応します。
   */

[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

/**
   * 日本語では斜体を使用しないためリセットします。
   */

i,
cite,
em,
address,
dfn {
  font-style: normal;
}

code,
pre {
  font-family: Consolas, Menlo, Courier, monospace;
}

code {
  padding: 0.2em;
  border-radius: 3px;
  font-size: 0.8em;
  background-color: rgba(0, 0, 0, 0.06);
}

pre code {
  padding: 0;
  font-size: 0.8em;
  background-color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

p {
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

.js-objectfit {
  -o-object-fit: cover;
     object-fit: cover;
  font-family: 'object-fit: cover;';
}

.l-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: calc(100vh - 80px);
  position: relative;
}

.l-footer {
  width: 100%;
  min-height: 350px;
  z-index: -1;
}

.l-header {
  width: 100%;
  height: 80px;
}

.l-main {
  width: 100%;
}

/* component--------------- */

.c-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.c-btn > a {
  text-decoration: none;
  display: block;
}

.c-container {
  width: 100%;
  height: auto;
  padding: 60px 10px 0px 10px;
}

.c-inputField {
  display: block;
}

.c-inputField__input {
  border: 1px solid #e3af99;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.c-inputField__detail {
  display: inline-block;
  margin-top: 8px;
  font-size: 12px;
  color: #a3a3a3;
}

.c-inputField__imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.c-inputField__areaDrop {
  display: block;
  background-color: #f4f0e9;
  width: 400px;
  height: 200px;
  overflow: hidden;
}

.c-inputField__icon {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.c-inputField__errorMsg {
  color: #f15252;
  margin-top: 5px;
  display: inline-block;
}

.c-select {
  position: relative;
}

.c-select > select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.c-title {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin: 0 0 60px;
  color: #76babb;
  text-align: center;
  z-index: -1;
}

.c-title::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 3rem;
  height: .2rem;
  background: #e6bb44;
}

.c-title__sub {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #76babb;
  text-align: center;
}

.p-about {
  width: 100%;
  height: auto;
}

.p-aboutContainer {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .p-aboutContainer {
    max-width: 748px;
  }
}

@media screen and (min-width: 1000px) {
  .p-aboutContainer {
    max-width: 980px;
  }
}

.p-auth {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .12em;
}

.p-auth__title {
  font-size: 20px;
  font-weight: bold;
  display: block;
  color: #76babb;
  text-align: center;
}

.p-auth__inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 21.5px 10px;
  min-height: 300px;
}

.p-auth__form {
  padding: 20px 0 0;
  text-align: left;
}

.p-auth__text {
  color: #1f1f1f;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
}

.p-auth__passReset {
  text-align: center;
  font-size: 10px;
  line-height: 12px;
}

.p-btnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: auto;
  margin: 16px 0 16px 0;
  border: none;
}

.p-btnContainer__btn {
  width: 210px;
  height: 45px;
  border-radius: 3px;
  padding: 11px 24px;
  font-size: 14px;
  background: #76babb;
  text-align: center;
  color: #fff;
}

.is-seller {
  background: #fff;
  border: 2px solid #76babb;
  color: #251e1c;
}

.is-seller:hover {
  background: #76babb;
  color: #fff;
}

.is-prof,
.is-cansel,
.is-detail {
  width: 190px;
}

.is-detail {
  background: #e6bb44;
}

.is-cansel {
  background: #ea352d;
}

.is-more {
  background: #e3af99;
}

.is-register,
.is-login {
  background: #76babb;
}

.p-flow__cardList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .p-flow__cardList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.p-flow__cardItem {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .p-flow__cardItem {
    -ms-flex-preferred-size: 32.3%;
        flex-basis: 32.3%;
  }
}

@media screen and (min-width: 1000px) {
  .p-flow__cardItem {
    -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%;
  }
}

.p-flow__cardInner {
  min-height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-flow__cardTriangle {
  display: block;
  font-size: 18px;
  line-height: 70px;
  width: 70px;
  color: #fff;
  background: #e3af99;
  margin: 0 auto 20px;
  display: block;
  border-radius: 50%;
  text-align: center;
  letter-spacing: 2px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.p-flow__cardBody {
  width: 100%;
  height: auto;
}

.p-flow__cardImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.p-flow__cardImg > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.p-flow__cardDescription {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2em;
  color: #111111;
}

@media screen and (min-width: 768px) {
  .p-flow__cardDescription {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 20px;
  }
}

.p-footer {
  margin-top: 60px;
  background-color: #e6bb44;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px;
  min-height: 350px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-footer__list {
  line-height: 1.8em;
}

@media screen and (min-width: 1000px) {
  .p-footer__list {
    padding-left: 30px;
    padding-top: 30px;
  }
}

.p-footer__link {
  color: #fff;
}

.p-footer__link:hover {
  text-decoration: underline;
}

.p-footer__right {
  margin-top: 90px;
  text-align: center;
  font-size: 12px;
}

.p-header {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  overflow-y: visible;
}

.p-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .p-header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 20px;
  }
}

.p-header__menuBtn {
  position: absolute;
  top: 16px;
  right: 0;
  width: 65px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1002;
}

@media screen and (min-width: 768px) {
  .p-header__menuBtn {
    display: none;
  }
}

.p-header__menuBtnContainer.is-active > .p-header__menuLine:nth-of-type(1) {
  -webkit-transform: translateY(13px) rotate(-45deg);
          transform: translateY(13px) rotate(-45deg);
}

.p-header__menuBtnContainer.is-active > .p-header__menuLine:nth-of-type(2) {
  opacity: 0;
}

.p-header__menuBtnContainer.is-active > .p-header__menuLine:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

.p-header__menuLine {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto 8px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  background-color: #333;
}

@media screen and (min-width: 768px) {
  .p-header__menuLine {
    display: none;
  }
}

.p-header-spMenuContainer {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f6f5f1;
  pointer-events: none;
  width: 300px;
  height: 100vh;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  padding-top: 150px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .p-header-spMenuContainer {
    display: none;
  }
}

.p-header-spMenuContainer.is-open {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-header__spGlobalMenu {
  position: relative;
  padding-top: 15px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 20px;
}

.p-header__btn {
  width: 140px;
  height: 37px;
  border-radius: 3px;
  padding: 11px 24px;
  font-size: 14px;
}

.p-header__btn.is_login {
  background: #76babb;
  text-align: center;
  margin-right: 10px;
}

.p-header__btn.is_login > a {
  color: #fff;
}

.p-header__btn.is_logout {
  background: #fff;
  border: solid 1px #76babb;
}

.p-header__btn.is_signup {
  background: #fff;
  border: solid 1px #76babb;
}

.p-header__btn > a {
  color: #76babb;
}

.p-header-spActiveMenu {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.p-header-spActiveMenu__link {
  display: block;
  font-size: 16px;
  line-height: 1;
  padding: 8px;
  cursor: pointer;
}

.p-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-product__list {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media screen and (min-width: 768px) {
  .p-product__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-product__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .p-product__item {
    -ms-flex-preferred-size: 32.3%;
        flex-basis: 32.3%;
    margin-right: 10px;
  }

  .p-product__item:nth-of-type(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1000px) {
  .p-product__item {
    -ms-flex-preferred-size: 24%;
        flex-basis: 24%;
  }

  .p-product__item:nth-of-type(3n) {
    margin-right: 10px;
  }

  .p-product__item:nth-of-type(4n) {
    margin-right: 0;
  }
}

.p-product__contents {
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.p-product__image {
  height: 200px;
  position: relative;
  z-index: -1;
  overflow: hidden;
}

.p-product__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-product__data {
  padding: 10px;
  line-height: 1.7em;
  background-color: #f6f5f1;
  font-size: 14px;
}

.p-product__soldOutBadge::after {
  border-width: 100px 100px 0 0;
  border-color: #ea352d transparent transparent transparent;
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
}

.p-product__soldOutBadgeText {
  position: absolute;
  left: 0;
  z-index: 2;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  letter-spacing: 2px;
  font-weight: 600;
  top: 23px;
  font-size: 22px;
}

.p-productDetail {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.p-productDetail__item {
  margin: 0 auto;
}

.p-productDetail__basicInfo {
  line-height: 2em;
}

.p-productDetail__name,
.p-productDetail__price {
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-productDetail__img {
  margin-bottom: 10px;
}

.p-productDetail__snsShare {
  font-size: 14px;
  width: 170px;
  margin: 0 auto;
}

.p-productDetail__snsShare-link {
  background-color: #00acee;
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 8px;
}

.p-productDetail__content {
  margin-bottom: 40px;
  line-height: 1.5;
}

.p-productDetail__content-title {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.p-productDetail__shopInfo-line {
  padding: 0.4em 0.8em;
  border: 1px solid #ddd;
  margin-top: -1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.p-productDetail__shopInfo-dt {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.2em;
}

.p-productDetail__shopInfo-dd {
  width: 100%;
  padding: 0;
  border: none;
}

.p-productForm {
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: .12em;
}

.p-productForm__inner {
  max-width: 400px;
  margin: 0 auto;
  padding: 21.5px 10px;
  min-height: 300px;
}

.p-productForm__form {
  padding: 20px 0 0;
  text-align: left;
}

.p-productForm__text {
  color: #1f1f1f;
  display: inline-block;
  font-size: 14px;
  line-height: 1.5em;
}

.p-question {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.p-question__item {
  font-size: 14px;
  margin-bottom: 0;
}

.p-question__q {
  background-color: #f6f5f1;
  font-weight: bold;
  padding: 10px 5px;
  margin-bottom: 0;
}

.p-question__a {
  padding: 10px 5px;
  border-bottom: 1px solid #e3af99;
  margin-bottom: 0;
}

.p-actionNav {
  display: none;
  position: absolute;
  top: 21px;
  right: 78px;
}

.p-actionNav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-actionNav__link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.p-actionNav__link > a {
  color: #333;
}

.p-actionNav__link--button {
  width: 100px;
  text-align: center;
  border-radius: 3px;
}

.p-actionNav__link--button.-login {
  border: 1px solid #223773;
  background: #F2F2F2;
  padding: 8px 0;
  margin-right: 10px;
}

.p-actionNav__link--button.-login > a {
  color: #223773;
}

.p-actionNav__link--button.-regi {
  background: #223773;
  padding: 8px 0;
}

.p-actionNav__link--button.-regi > a {
  color: #fff;
}

.p-globalNav {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 80%);
  pointer-events: none;
  width: 300px;
  height: 100vh;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  padding-top: 150px;
  z-index: 2;
}

.p-globalNav.is-open {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-globalNav__links {
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.p-globalNav__links.is-login {
  padding-top: 15px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px 20px;
}

.p-globalNav__link--button {
  text-align: center;
  width: calc(50% - 5px);
  border-radius: 3px;
  position: relative;
}

.p-globalNav__link--button.-login {
  border: 1px solid #223773;
  background: #F2F2F2;
  padding: 12px 0;
}

.p-globalNav__link--button.-login > a {
  color: #223773;
  font-weight: 400;
  position: relative;
}

.p-globalNav__link--button.-regi {
  background: #223773;
  padding: 12px 0;
}

.p-globalNav__link--button.-regi > a {
  color: #fff;
  font-weight: 400;
  position: relative;
}

.p-globalNav__link {
  display: block;
  font-size: 14px;
  line-height: 1;
  padding: 10px;
  cursor: pointer;
  z-index: 1002;
}

.p-globalNav__link > a {
  color: #394159;
  position: relative;
}

.p-globalNav__link > a:hover {
  text-decoration: underline;
}

.p-menu {
  position: absolute;
  top: 0;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  height: 100vh;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-property: all;
  transition-property: all;
}

.p-menu_content {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 80%);
  pointer-events: none;
  width: 300px;
  height: 100vh;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  padding-top: 150px;
  z-index: 2;
}

.p-menu_content.is-open {
  pointer-events: all;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.p-menuBtn {
  position: absolute;
  top: 16px;
  right: 0;
  width: 65px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1002;
}

.p-menuBtn__content.is-active span:nth-of-type(1) {
  -webkit-transform: translateY(13px) rotate(-45deg);
          transform: translateY(13px) rotate(-45deg);
}

.p-menuBtn__content.is-active span:nth-of-type(2) {
  opacity: 0;
}

.p-menuBtn__content.is-active span:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

.p-menuBtn__content.is-active > .p-menuBtn__line:nth-of-type(1) {
  -webkit-transform: translateY(13px) rotate(-45deg);
          transform: translateY(13px) rotate(-45deg);
}

.p-menuBtn__content.is-active > .p-menuBtn__line:nth-of-type(2) {
  opacity: 0;
}

.p-menuBtn__content.is-active > .p-menuBtn__line:nth-of-type(3) {
  -webkit-transform: translateY(-7px) rotate(45deg);
          transform: translateY(-7px) rotate(45deg);
}

.p-menuBtn__line {
  display: block;
  width: 24px;
  height: 2px;
  margin: 0 auto 8px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  background-color: #333;
}

.p-search {
  max-width: 500px;
  margin: 0 auto;
}

.p-search__content {
  font-size: 12px;
}

.p-searchForm {
  line-height: 2em;
}

.p-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .p-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-top__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 200px;
  background-color: #e6bb44;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.2em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

@media screen and (min-width: 768px) {
  .p-top__left {
    width: 50%;
    height: auto;
  }
}

.p-top__leftInner {
  width: 90%;
  margin: 0 auto;
}

.p-top__right {
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border: solid 1px #e6bb44;
}

@media screen and (min-width: 768px) {
  .p-top__right {
    width: 50%;
    height: auto;
  }
}

.p-top__rightInner {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-top__rightImage {
  width: 120px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .p-top__rightImage {
    -ms-flex-preferred-size: 43%;
        flex-basis: 43%;
    height: auto;
  }
}

.p-prof {
  height: 100%;
}

.p-prof__name {
  font-weight: 400;
  letter-spacing: .12em;
  font-size: 20px;
  text-align: center;
}

.u-mb10 {
  margin-bottom: 10px;
}

.u-mb20 {
  margin-bottom: 20px;
}

.u-mb30 {
  margin-bottom: 30px;
}

.u-mb5 {
  margin-bottom: 5px !important;
}

.u-mb8 {
  margin-bottom: 8px !important;
}

.u-mb16 {
  margin-bottom: 16px !important;
}

.u-mb30 {
  margin-bottom: 30px !important;
}

.u-mb60 {
  margin-bottom: 60px !important;
}

.u-mb80 {
  margin-bottom: 80px !important;
}

.u-mb120 {
  margin-bottom: 120px !important;
}

.u-mb150 {
  margin-bottom: 150px !important;
}

.u-mt8 {
  margin-top: 8px !important;
}

.u-mt10 {
  margin-top: 10px !important;
}

.u-mt16 {
  margin-top: 16px !important;
}

.u-mt20 {
  margin-top: 20px !important;
}

.u-mt30 {
  margin-top: 30px !important;
}

.u-mt60 {
  margin-top: 60px !important;
}

.u-mt80 {
  margin-top: 80px !important;
}

.u-mt120 {
  margin-top: 120px !important;
}

.u-mt150 {
  margin-top: 150px !important;
}

